
.footer-items{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
    border-top: 0.5px solid rgb(83, 80, 80);
    border-left: 0.5px solid rgb(83, 80, 80);
    border-right: 0.5px solid rgb(83, 80, 80);
    border-top-left-radius: 45px;
    border-top-right-radius: 45px;
    margin-top: 1em;
    backdrop-filter: blur(6px);
    background-color: #ffffff11;

}

.footerIcon{
    height: 2.7em;
    width: 2.7em;
    padding: 0.3em;
    margin: 0.3em;
}

.footerIcon:hover{
    border:2px solid yellow;
    border-radius: 50%;
}

@media screen and (max-width: 330px){

    .footer-items{
        height: 7%;
    }

    Button{
        height: 5%;
    }

}